.photo-fullscreen{ style: "display: none" }
  .photo-fullscreen__photo
  .photo-fullscreen__previous{ style: "display: none" }
  .photo-fullscreen__next{ style: "display: none" }
  .photo-fullscreen__close