%meta{:charset => "utf-8"}/
%meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
%title Meerstadfotografie.nl
%meta{:content => "Meerstad.net neemt het leven in Meerstad onder de loep voor bewoners en bezoekers, door middel van relevante blog posts boordevol interessante informatie.", :name => "description"}/
%link{:href => "/css/application.css", :rel => "stylesheet"}/
%link{:href => "https://fonts.googleapis.com/css?family=Roboto:100", :rel => "stylesheet"}/
