.header {
  padding: 15px 0;
  text-align: center;
  position: relative;
  background-color: rgba(#222, 0.85);
}

.header .logo {
  color: white;
  line-height: 0.9;
  text-transform: uppercase;
}

.logo.meerstad {
  font-family: 'Judson';
  font-size: 63px;
  font-weight: 700;
}

.logo.fotografie {
  font-size: 27px;
  font-weight: 400;
  margin-left: 5px;
  display: inline-block;
  letter-spacing: 14px;
  font-family: Roboto;
}
