// ----------------------------------------------------------------------------
// Media query breakpoints
// ----------------------------------------------------------------------------

$breakpoint-medium: 727px;
$breakpoint-large: 1050px;
$breakpoint-wide: 1300px;

$max-width-s: 460px;

// ----------------------------------------------------------------------------
// Grid defaults
// ----------------------------------------------------------------------------

$grid-default-gutter: $px20;
$gutter: $px20;
